


<div class="modal fade" id="studentFeePayments{{student.id}}">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="studentFeePayments">Record fee paid by <code>{{student.student_full_name}}</code></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    
     <form action="" method="post">
      {% csrf_token %}
      <input type="text" name="student_full_name" id="" value="{{student.id}}"  style="display:none;width:100%;"/>
      {{form2.amount_paid.label}}
      {{form2.amount_paid}}
      {{form2.date.label}}
      {{form2.date}}
     <input type="submit" name="add_student_fees" value="submit" class="mt-4">

     </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" data-dismiss="modal">close</button>

    </div>
  </div>
</div>
</div>
