<div class="manage_classes_status_bar_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="item">
          <div class="icon">
            <h3><i class="fas fa-fw fa-school"></i>  Available classes</h3>
          </div>
          <div class="number">
            <button type="button" class="btn btn-primary">
              <span class="badge bg-secondary">{{count_all_classes}}</span> classes 
             </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>